<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Getting Started: Handling Buddy Info</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Confirmed Questions</h1>
<p th:text="'question: ' + ${multipleChoiceQuestion.question}" />
<p th:text="'choice1: ' + ${multipleChoiceQuestion.choiceOne}" />
<p th:text="'choice2: ' + ${multipleChoiceQuestion.choiceTwo}" />
<p th:text="'choice2: ' + ${multipleChoiceQuestion.choiceThree}" />
<p th:text="'choice2: ' + ${multipleChoiceQuestion.choiceFour}" />

<a href="/createSurvey">Submit another message</a>
</body>
</html>