<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Confirm</title>
  <link href="../static/css/confirmationPage.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <h1>Survey Title</h1>
  <br>
  <img src="/images/GreenCheck.jpeg">
  <br>
  <p>Thank you for filing out this survey</p>
  <br>
  <a href="#" class="button">Proceed to Survey Page</a>
</body>
</html>