<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Create Survey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Create Your Survey </h1>
<form action="#" th:action="@{/createSurvey}" th:object="${createSurvey}" method="post">
    <p>Buddy Name: <input type="text" th:field="*{name}" /></p>
    <p>Buddy Address: <input type="text" th:field="*{address}" /></p>
    <p>Buddy Number: <input type="text" th:field="*{number}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>