<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>SurveyMonkey Home</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <h1>Welcome to SurveyMonkey</h1>
    <br>
    <h2>Please choose if you are a Surveyor or a Taker.</h2>

    <div class="buttons">
        <button onclick="location.href='#'" type="button" >Surveyor</button>
        <button onclick="location.href='#'" type="button">Taker</button>
    </div>

</div>
</body>
</html>