<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Surveys</title>
    <link href="../static/css/takerHome.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div style="justify-content: center;text-align:center;">
    <h1>Welcome to the Surveys</h1>
    <h2>Please select the survey to fill out below:</h2>
    <div style="border: thin solid black; border-radius: 10px; padding: 20px; display: inline-block">
        <h4>All Surveys</h4>
        <table>
            <th:block>
                <tr>
                    <td class="td"><h3>School Survey 1</h3></td>
                    <td class="td">     Creator: surveyor1</td>
                    <td class="td">
                        <a href="#">     Begin Survey</a>
                    </td>
                </tr>
                <tr>
                    <td class="td"><h3>School Survey 2</h3></td>
                    <td class="td">     Creator: surveyor1</td>
                    <td class="td">
                        <a href="#">     Begin Survey</a>
                    </td>
                </tr>
                <tr>
                    <td class="td"><h3>School Survey 3</h3></td>
                    <td class="td">     Creator: surveyor1</td>
                    <td class="td">
                        <a href="#">     Begin Survey</a>
                    </td>
                </tr>
            </th:block>


        </table>
    </div>

</div>



</body>
</html>