<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Individual Survey</title>
    <link href="../static/css/takerSurveyPage.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div style="justify-content: center;">
    <h1>Survey Title</h1>
    <h2>Survey Description (If Available)</h2>
    <div style="border: 1px solid black; padding: 10px; display: inline-block;margin: auto">
            <th:block>
                <div class="element">
                    <text class="questionText">Element 1</text>

                </div>
                <div class="element">
                    <text class="questionText">Element 1</text>
                </div>
            </th:block>
    </div>

</div>



</body>
</html>